@charset "UTF-8";

.result {
    border-collapse: collapse;
    border: 1px solid;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

.result th {
    border: 1px solid;
    border-width: 1px 0px;
    text-align: left;
    background-color: #eee;
}

.result td {
    border: 1px solid;
    border-width: 1px 0px;
    text-align: left;
}